<div class="col-12">
  <div class="row">
    <div class="col-auto mat-display-1">Forgot Password?</div>
  </div>

  <div class="row">
    <div class="mat-body-2">Fill your email to reset your password</div>
  </div>

  <app-auth-form btnText="Send reset link" [fieldGroup]="this.fieldGroup" (formSubmit)="this.onSubmit($event)"></app-auth-form>
</div>

<div class="row">
  <div class="mat-body-1 footer">Return to <a routerLink="/auth/login">Log in</a></div>
</div>

<!--
  @todo: implement auth0
  @todo: implement recaptcha
-->
