.mat-display-1 {
  color: #1e293b;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-bottom: 2px !important;
}

.mat-body-1 {
  color: #52565e;
  font-weight: 400;
  margin-bottom: 2px !important;
}

.footer {
  margin-top: 22px;
}

// @todo: replace color with variable
