@use "@angular/material" as mat;
@import "./styles/fonts.scss";
@import "./styles/palettes.scss";
@import "./styles/themes/dark-theme.scss";
@import "./styles/themes/light-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

// Compute font config
@include mat.core($fontConfig);

// Theme Config

body {
  --warn-color: #dc2626;
  --warn-lighter-color: #f5bebe;
  --warn-darker-color: #ce1717;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};

  --accent-color: #1e293b;
  --accent-lighter-color: #bcbfc4;
  --accent-darker-color: #121926;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};

  --primary-color: #4f46e5;
  --primary-lighter-color: #cac8f7;
  --primary-darker-color: #362fda;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

mat-checkbox.invalid {
  color: var(--warn-color);
  .mat-checkbox-frame {
    border-color: var(--warn-color) !important;
  }
}

.light-theme {
  @include mat.all-component-themes($lightTheme);
  --background-gradient-color: #ffffff1a;
  --notification-background-color: #323232;
  --text-color: #ffffff;
  --text-color-rgb: 255, 255, 255;
}

.dark-theme {
  @include mat.all-component-themes($darkTheme);
  --background-gradient-color: #0000001a;
  --notification-background-color: #fafafa;
  --text-color: #1e293b;
  --text-color-rgb: 30, 41, 59;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

// Fixes bad vertical align when using icons inside mat buttons. (caused by line-height)
.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab {
  line-height: 1 !important;
}

// Fixes word wrap problems when the label is too large in mat-checkbox
mat-checkbox {
  label.mat-checkbox-layout {
    white-space: normal;

    .mat-checkbox-inner-container {
      margin-top: 4px !important;
    }
  }
}

// passed
.app-notification-container {
  padding: 0px !important;
  background-color: var(--notification-background-color) !important;
}

// @todo: replace colors with variables
